<% include ./partials/header %>
<style>
  body{
    background-color: #333;
  }
  .bosluk{
    height: 100px;
  }
  .bosluk2{
    height: 20px;
  }
</style>    
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body bg-dark text-white">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Kayıt Ol
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Kullanıcı Adı</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Bir Kullanıcı Adı Girin"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">E-Posta</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Bir E-Posta Girin"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Şifre</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Bir Şifre Girin"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Şifre Doğrulama</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Lütfen Şifrenizi Tekrar Girin"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Kaydol
        </button>
      </form>
      <p class="lead mt-4">Hesabın mı var? O zaman <a href="/users/login">Giriş Yap</a></p>
    </div>
  </div>
</div>
