<% include ./partials/header %>

<style>
  body{
    background-color: #333;
  }
  .bosluk{
    height: 100px;
  }
  .bosluk2{
    height: 20px;
  }
</style>    

<div class="bosluk"></div>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center bg-dark text-white">
      <h1><i class="fas fa-arrow-alt-circle-up"></i> Uptime <i class="fas fa-arrow-alt-circle-up"></i></h1>
      <h1>Bir Hesap Oluştur ya da Kayıt Ol</h1>
      <div class="bosluk2"></div>

      <a href="/users/register" class="btn btn-primary btn-block mb-2" >Kayıt Ol</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Giriş Yap</a>
    </div>
  </div>
</div>